/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Hyundai Fonts
   ========================================================================== */
@font-face {
  font-family: 'Avenir Next LT Regular';
  src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"), url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"), url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"), url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg"); }
@font-face {
  font-family: 'Avenir Next LT Demi';
  src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"), url("../fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg"); }
@font-face {
  font-family: 'Avenir Next LT Bold';
  src: url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
  src: url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"), url("../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"), url("../fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"), url("../fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg"); }
/* ==========================================================================
   Base Styles
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
  height: 100%; }

body {
  font: 16px/1.5 "Avenir Next LT Regular", Helvetica, sans-serif;
  background-color: #fff;
  color: #222222;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

img {
  max-width: 100%; }

::-moz-selection {
  background: #eee;
  text-shadow: none; }

::selection {
  background: #eee;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.highlighted,
.securitas-color {
  color: #ed1c24; }

/* ==========================================================================
   Links
   ========================================================================== */
a {
  text-decoration: none;
  outline: none; }

/* ==========================================================================
   Lists
   ========================================================================== */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Base Layout
   ========================================================================== */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.row {
  display: block;
  width: 100%;
  margin: 60px 0; }

.cell {
  display: block; }

.cell__valign_t {
  vertical-align: top; }

.cell__valign_m {
  vertical-align: middle; }

.cell__valign_b {
  vertical-align: bottom; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .container {
    max-width: 1480px;
    padding: 0 30px; } }
/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
  .cell {
    display: table-cell; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.uppercase {
  text-transform: uppercase; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.no-margin {
  margin: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.text-align-center {
  text-align: center; }

/* ==========================================================================
   TEXTS
   ========================================================================== */
h1 {
  font: 16px/1 "Avenir Next LT Regular", Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  margin: 50px 0 25px; }

h2 {
  font: 16px/1 "Avenir Next LT Regular", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 50px 0 25px; }

h3 {
  font: 16px/1 "Avenir Next LT Regular", Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 50px 0 25px; }

h4 {
  font: 16px/1 "Avenir Next LT Regular", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 15px; }

p {
  line-height: 1.5; }

strong {
  font-family: "Avenir Next LT Demi", Helvetica, sans-serif; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  h1 {
    font: 16px/1.5 "Avenir Next LT Regular", Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 300;
    margin: 50px 0 25px; }

  h2 {
    font: 16px/1.5 "Avenir Next LT Regular", Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin: 50px 0 25px; }

  h3 {
    font: 16px/1.5 "Avenir Next LT Regular", Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin: 50px 0 25px; }

  h4 {
    font: 16px/1.5 "Avenir Next LT Regular", Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 15px; } }
/* ==========================================================================
   BUTTONS
   ========================================================================== */
.button {
  position: relative;
  text-align: center;
  padding: 15px 30px;
  font-family: "Avenir Next LT Bold", Helvetica, sans-serif;
  display: inline-block; }

.button.disabled {
  color: white;
  background: #eee !important;
  pointer-events: none; }

.button__securitas {
  color: white;
  background: #ed1c24; }

.button__next {
  position: relative;
  padding-right: 60px; }
  .button__next::before {
    font-family: "Ionicons";
    content: "\f3d6";
    font-size: 2em;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -24px; }

/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
  background-color: #fff;
  position: relative;
  width: 100%;
  z-index: 10; }

.header.sticky {
  position: fixed; }

.header__logo {
  position: absolute;
  background-image: url(../img/logo-securitas.png);
  width: 90px;
  height: 56px;
  background-size: 100%;
  top: 50%;
  margin-top: -30px;
  left: 15px; }

#home .header__logo {
  width: 90px;
  height: 56px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -28px; }

/* @2x Images */
@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .header__logo {
    width: 90px;
    height: 56px;
    background-image: url(../img/logo-securitas@2x.png);
    background-size: 100%;
    background-repeat: no-repeat; } }
/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .header__logo {
    width: 90px;
    height: 56px;
    background-image: url(../img/logo-securitas@3x.png);
    background-size: 100%;
    background-repeat: no-repeat; } }
.header__logo a {
  display: block;
  width: 100%;
  height: 100%; }

.header__menu {
  float: right; }

.menu__item.menu__item_home {
  display: none; }
.menu__item.menu__item_logged {
  display: inline-block; }
  .menu__item.menu__item_logged.user {
    position: relative; }
#home .menu__item.menu__item_home {
  display: inline-block; }
#home .menu__item.menu__item_logged {
  display: none; }

.menu__link {
  text-transform: uppercase;
  color: inherit;
  display: block;
  padding: 13px 10px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee; }

#home .menu__link {
  padding: 23px 10px; }

.menu__link:last-of-type {
  border-right: 0; }

.usercircle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

.notifications {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px; }

.notifications i {
  position: absolute;
  font-size: 2em;
  line-height: 0;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -11px; }

.notifications__bullet {
  position: absolute;
  top: 4px;
  right: 2px;
  display: block;
  width: 15px;
  height: 15px;
  background: #ed1c24;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

.notifications__number {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Avenir Next LT Bold", Helvetica, sans-serif;
  font-size: .6em;
  text-align: center; }

.notifications__number span {
  display: inline-block;
  vertical-align: middle; }

.submenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 240px;
  background-color: #fff;
  z-index: 30;
  border-left: 1px solid #eee;
  -webkit-transform: translateX(240px);
  -moz-transform: translateX(240px);
  -ms-transform: translateX(240px);
  transform: translateX(240px); }

.submenu__triangle {
  position: absolute;
  right: 0; }
  .submenu__triangle::before {
    content: "";
    top: -10px;
    right: 35px;
    position: absolute;
    z-index: 20;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff; }
  .submenu__triangle::after {
    content: "";
    top: -11px;
    right: 34px;
    position: absolute;
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #eee; }

.submenu__list {
  position: relative; }

.submenu__item:nth-child(even) {
  background: #f2f2f2; }

.submenu__item:nth-child(odd) {
  background: #fff; }

.submenu__link {
  color: inherit;
  display: block;
  padding: 20px; }

.submenu__link strong {
  clear: both;
  display: block; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  #home .header__logo {
    width: 123px;
    height: 76px;
    margin-top: -38px; }

  .menu__link {
    padding: 23px; }

  #home .menu__link {
    padding: 53px; }

  .header__logo {
    left: 30px; }

  /* @2x Images */
  /* @3x Images */ }
/* DESKTOP SIZE */
@media all and (min-width: 1025px) {
  .header__logo {
    margin-top: -30px; }

  .submenu {
    border: 1px solid #eee;
    position: absolute;
    top: 93px;
    right: -4px;
    height: auto;
    min-width: 210px;
    background-color: transparent;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }

  .submenu.active {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
/* ==========================================================================
   GENERAL
   ========================================================================== */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/darkener.png);
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

.overlay.active {
  opacity: 1;
  pointer-events: all; }

.main {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

.main.active {
  -webkit-transform: translateX(-240px);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  transform: translateX(-240px); }

/* TABLET SIZE */
/* DESKTOP SIZE */
/* ==========================================================================
   BANNER
   ========================================================================== */
.banner {
  width: 100%;
  height: 300px; }

.banner__container {
  position: relative;
  width: 100%;
  height: 100%; }

.navigation__item {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  z-index: 10; }

.navigation__item_prev {
  left: 0; }

.navigation__item_next {
  right: 0; }

.navigation__link {
  color: #fff;
  font-size: 4em;
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 30px; }

.navigation__link .icon {
  display: table-cell;
  vertical-align: middle; }

.carousel__item {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.carousel__text {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  display: table;
  text-align: center;
  padding: 50px; }

.carousel__text h2 {
  display: table-cell;
  vertical-align: middle;
  color: #fff; }

/* Owl */
.owl-carousel {
  height: 100%;
  overflow: hidden; }

.owl-wrapper-outer,
.owl-wrapper,
.owl-item {
  height: 100%; }

.owl-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center; }

.owl-page {
  display: none; }

.owl-page span::before {
  font-family: "Ionicons";
  content: "\f401";
  color: #fff;
  font-size: 1.4em;
  margin: 5px; }

.owl-page.active span::before {
  font-family: "Ionicons";
  content: "\f400";
  color: #fff;
  font-size: 1.4em;
  margin: 5px; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .banner {
    height: 600px; }

  .navigation__item {
    display: inline-block; }

  .navigation__link {
    padding: 0 60px; }

  .carousel__text {
    padding: 70px; }

  .owl-page {
    display: inline-block; } }
/* DESKTOP SIZE */
/* ==========================================================================
   WELCOME
   ========================================================================== */
.welcome__container {
  padding: 60px 15px; }

.welcome__title {
  text-align: center;
  margin: 0;
  padding: 0; }

.welcome__container .cell {
  width: 100%; }

.welcome .video__container {
  position: relative;
  margin-bottom: 0;
  padding-top: 56.25%; }

.welcome .video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.welcome .text__container {
  padding: 60px; }

.welcome .text__container p {
  margin: 0; }

.welcome .row__button {
  display: block;
  text-align: center;
  margin-top: 0; }

/* TABLET SIZE */
/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
  .welcome__container {
    padding: 60px 30px; }

  .welcome__container .cell {
    width: 50%; }

  .welcome .row__button {
    margin-top: 60px; } }
/* ==========================================================================
   COURSES
   ========================================================================== */
.courses {
  background-color: #eee; }

.courses__container {
  padding: 60px 15px; }

.courses__title {
  margin: 0;
  padding: 0; }

.courses__grid {
  margin-bottom: 0; }

.courses__item {
  position: relative;
  width: 100%;
  float: left;
  padding: 1px; }

.courses__item a {
  color: inherit; }

.item__img {
  position: relative;
  overflow: hidden; }

.item__time {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: #fff;
  font-size: .7em;
  font-family: "Avenir Next LT Bold", Helvetica, sans-serif;
  display: table; }

.item__time_icon {
  font-size: 1.5em;
  line-height: 0;
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px; }

.item__time_text {
  line-height: 0;
  display: table-cell;
  vertical-align: middle; }

.item__control {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  z-index: 10; }

.item__control_reload {
  font-size: 6em;
  line-height: 0;
  margin-top: -42px;
  margin-left: -48px; }

.item__control_play {
  font-size: 6em;
  line-height: 0;
  margin-top: -48px;
  margin-left: -24px; }

.item__darkener {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: url(../img/darkener.png) repeat; }

.item__enabler {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: url(../img/lightener.png) repeat; }

.item__img img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }

.item__img:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.item__info {
  background: #fff;
  padding: 30px;
  position: relative; }

.item__indicator {
  position: absolute; }

.item__indicator_tick {
  top: 5px;
  right: 10px;
  font-size: 3.5em;
  line-height: 0;
  color: #00ff96; }

.info__title {
  font-family: "Avenir Next LT Bold", Helvetica, sans-serif;
  font-size: 1.1em;
  margin-top: 0; }

.info__text {
  margin-bottom: 0; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .courses__item {
    width: 50%; } }
/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
  .courses__container {
    padding: 60px 30px; }

  .courses__item {
    width: 33.333333333%; } }
/* ==========================================================================
   COURSE
   ========================================================================== */
.course {
  background-color: #eee; }

.course__container {
  padding: 60px 15px; }

.breadcrumbs {
  margin: 0;
  font-size: .9em;
  color: #7d7d7d; }

.breadcrumbs__link {
  color: inherit;
  font-family: "Avenir Next LT Bold", Helvetica, sans-serif; }

.breadcrumbs__icon {
  font-size: .8em;
  padding: 0 10px; }

.course .video__container {
  position: relative;
  margin: 30px 0;
  padding-top: 56.25%; }

.course .video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.tabs__link {
  padding: 10px;
  font-size: .8em;
  color: inherit;
  background-color: #eee;
  display: inline-block;
  margin-left: -5px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd; }
  .tabs__link:hover {
    background: #dddddd; }

.tabs__link:first-of-type {
  margin-left: 0; }

.tabs__link.test {
  font-family: "Avenir Next LT Demi", Helvetica, sans-serif;
  background: #dddddd;
  color: #bbbbbb; }

.tabs__link.test.disabled {
  pointer-events: none; }

.tabs__link.test.active {
  font-family: "Avenir Next LT Demi", Helvetica, sans-serif;
  background: #ed1c24;
  color: #fff; }

.tabs__link.active {
  font-family: "Avenir Next LT Demi", Helvetica, sans-serif;
  background: #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; }

.tabs__content {
  background-color: #fff; }

.content__block {
  position: relative;
  display: none;
  padding: 30px; }

.content__block p {
  margin: 0; }

.content__block.active {
  display: block; }

.downloads__link {
  color: #7d7d7d;
  display: block;
  padding: 10px 0; }
  .downloads__link:hover {
    color: #444; }
  .downloads__link:first-of-type {
    padding: 0 0 10px 0; }
  .downloads__link:last-of-type {
    padding: 10px 0 0 0; }

.downloads__icon {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5em;
  color: #dddddd;
  padding-right: 10px; }

.downloads__info {
  display: table-cell;
  vertical-align: middle; }

.downloads__info strong {
  display: block; }

.test__indicator {
  font-size: .9em; }

.test__question {
  font-family: "Avenir Next LT Bold", Helvetica, sans-serif;
  margin-top: 30px; }

.question__messages_correct {
  color: #00ff96;
  font-family: "Avenir Next LT Demi", Helvetica, sans-serif;
  position: relative;
  padding-left: 30px; }

.question__messages_correct .icon {
  font-size: 1.5em;
  line-height: 0;
  position: absolute;
  top: -3px;
  left: 0; }

.question__messages_wrong {
  color: #ed1c24;
  font-family: "Avenir Next LT Demi", Helvetica, sans-serif;
  position: relative;
  padding-left: 30px; }

.question__messages_wrong .icon {
  font-size: 1.5em;
  line-height: 0;
  position: absolute;
  top: -3px;
  left: 0; }

.test__next {
  position: relative; }

.questions__list {
  margin-top: 30px; }

.questions__link {
  display: flex;
  align-items: center;
  color: #7d7d7d;
  padding: 15px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }
  .questions__link.active {
    color: #444; }
  .questions__link:hover {
    color: #444;
    background: #eee;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s; }

.question__letter {
  width: 30px;
  height: 30px;
  line-height: 25px;
  padding: 0 5px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  font-family: "Avenir Next LT Demi", Helvetica, sans-serif;
  font-size: 1.5em;
  border: 2px solid #dddddd;
  color: #7d7d7d;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }

.questions__link:hover .question__letter {
  color: #444;
  border: 2px solid #444;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }

.questions__link.wrong .question__letter {
  color: #ed1c24;
  border: 2px solid #ed1c24;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }

.questions__link.correct .question__letter {
  color: #00ff96;
  border: 2px solid #00ff96;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }

.question__text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .tabs__link {
    padding: 20px;
    font-size: 1em; }

  .content__block {
    padding: 60px; }

  .test__next {
    position: absolute;
    right: 60px;
    top: 60px; }

  .questions__link {
    display: block;
    color: #7d7d7d;
    padding: 15px; }

  .question__letter {
    line-height: 30px;
    padding: 3px 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center; } }
/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
  .course__container {
    padding: 60px 30px; } }
/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  background: #f7f7f7;
  border-top: 1px solid #eee;
  height: 90px; }

.footer__container {
  display: table;
  width: 100%;
  height: 100%; }

.footer__text {
  display: table-cell;
  vertical-align: middle;
  font-size: .8em;
  color: #7d7d7d; }

.footer__link {
  color: #7d7d7d;
  padding: 10px;
  display: inline-block; }

.footer__logo {
  position: absolute;
  background-image: url(../img/logo-securitas-footer.png);
  width: 79px;
  height: 50px;
  background-size: 100%;
  top: 50%;
  margin-top: -25px;
  right: 15px;
  display: none; }

.footer__logo a {
  display: block;
  width: 100%;
  height: 100%; }

/* @2x Images */
@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .footer__logo {
    width: 79px;
    height: 50px;
    background-image: url(../img/logo-securitas-footer@2x.png);
    background-size: 100%;
    background-repeat: no-repeat; } }
/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .footer__logo {
    width: 79px;
    height: 50px;
    background-image: url(../img/logo-securitas-footer@3x.png);
    background-size: 100%;
    background-repeat: no-repeat; } }
/* TABLET SIZE */
@media all and (min-width: 768px) {
  .footer__link {
    padding: 20px; }

  .footer__logo {
    display: inline-block; } }
/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
  .footer__logo {
    right: 30px; } }

/*# sourceMappingURL=application.css.map */
