/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Hyundai Fonts
   ========================================================================== */
@font-face {
  font-family: 'hyundai_sans_headbold';
  src: url("../fonts/hyundaisanshead-bold-webfont.woff2") format("woff2"), url("../fonts/hyundaisanshead-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hyundai_sans_headlight';
  src: url("../fonts/hyundaisanshead-light-webfont.woff2") format("woff2"), url("../fonts/hyundaisanshead-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hyundai_sans_headmedium';
  src: url("../fonts/hyundaisanshead-medium-webfont.woff2") format("woff2"), url("../fonts/hyundaisanshead-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hyundai_sans_headregular';
  src: url("../fonts/hyundaisanshead-regular-webfont.woff2") format("woff2"), url("../fonts/hyundaisanshead-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hyundai_sans_textbold';
  src: url("../fonts/hyundaisanstext-bold-webfont.woff2") format("woff2"), url("../fonts/hyundaisanstext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hyundai_sans_textmedium';
  src: url("../fonts/hyundaisanstext-medium-webfont.woff2") format("woff2"), url("../fonts/hyundaisanstext-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hyundai_sans_textregular';
  src: url("../fonts/hyundaisanstext-regular-webfont.woff2") format("woff2"), url("../fonts/hyundaisanstext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* ==========================================================================
   Base Styles
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
  height: 100%; }

html.no-overflow-y {
  overflow-y: hidden; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  html {
    overflow-y: hidden; } }
body {
  font: 16px/1.5 'hyundai_sans_textregular', Helvetica, sans-serif;
  background-color: #fff;
  color: #222222;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

img {
  max-width: 100%; }

::-moz-selection {
  background: #eee;
  text-shadow: none; }

::selection {
  background: #eee;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Scrollbar
   ========================================================================== */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border: 2px solid #a9a9a9;
  border-radius: 0px; }

::-webkit-scrollbar-thumb:hover {
  background: #bebebe; }

::-webkit-scrollbar-thumb:active {
  background: #b5b5b5; }

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border: 0px none #ffffff;
  border-radius: 0px; }

::-webkit-scrollbar-track:hover {
  background: #f0f0f0; }

::-webkit-scrollbar-track:active {
  background: #f0f0f0; }

::-webkit-scrollbar-corner {
  background: transparent; }

/* ==========================================================================
   Links
   ========================================================================== */
a {
  text-decoration: none;
  outline: none; }

a.link {
  color: #00b0d2; }

/* ==========================================================================
   Lists
   ========================================================================== */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Base Layout
   ========================================================================== */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.no-margin {
  margin: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.text-align-center {
  text-align: center; }

/* ==========================================================================
   TEXTS
   ========================================================================== */
h1 {
  font: 16px/1 "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  margin: 50px 0 25px; }

h2 {
  font: 16px/1 "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 50px 0 25px; }

h3 {
  font: 16px/1 "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 50px 0 25px; }

h4 {
  font: 16px/1 "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 15px; }

p {
  line-height: 1.5; }

strong {
  font-family: "hyundai_sans_textbold", "hyundai_sans_textregular", Helvetica, sans-serif; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  h1 {
    font: 16px/1.5 "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 300;
    margin: 50px 0 25px; }

  h2 {
    font: 16px/1.5 "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin: 50px 0 25px; }

  h3 {
    font: 16px/1.5 "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin: 50px 0 25px; }

  h4 {
    font: 16px/1.5 "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 15px; } }
/* ==========================================================================
   ICONS
   ========================================================================== */
.icon {
  position: relative;
  display: inline-block; }

.icon.icon-gear::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url(../img/icon-gear.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px; }

.no-touch a:hover .icon.icon-gear::before,
.no-touch a:active .icon.icon-gear::before,
a:active .icon.icon-gear::before {
  background-position: 0px -21px; }

@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .icon.icon-gear:before {
    background: url(../img/icon-gear@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px; }

  .no-touch a:hover .icon.icon-gear::before,
  .no-touch a:active .icon.icon-gear::before,
  a:active .icon.icon-gear::before {
    background-position: 0px -22px; } }
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .icon.icon-gear::before {
    background: url(../img/icon-gear@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px; }

  .no-touch a:hover .icon.icon-gear::before,
  .no-touch a:active .icon.icon-gear::before,
  a:active .icon.icon-gear::before {
    background-position: 0px -22px; } }
.icon.icon-wheel::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url(../img/icon-wheel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.no-touch a:hover .icon.icon-wheel::before,
.no-touch a:active .icon.icon-wheel::before,
a:active .icon.icon-wheel::before {
  background-position: bottom center; }

@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .icon.icon-wheel::before {
    background: url(../img/icon-wheel@2x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .icon.icon-wheel::before {
    background: url(../img/icon-wheel@3x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
.icon.icon-pdf::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url(../img/icon-pdf.png);
  background-size: 14px 40px;
  background-repeat: no-repeat;
  background-position: top center; }

.no-touch a:hover .icon.icon-pdf::before,
.no-touch a:active .icon.icon-pdf::before,
a:active .icon.icon-pdf::before {
  background-position: bottom center; }

@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .icon.icon-pdf::before {
    background: url(../img/icon-pdf@2x.png);
    background-size: 14px 40px;
    background-repeat: no-repeat;
    background-position: top center; }

  .no-touch a:hover .icon.icon-pdf::before,
  .no-touch a:active .icon.icon-pdf::before,
  a:active .icon.icon-pdf::before {
    background-position: bottom center; } }
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .icon.icon-pdf::before {
    background: url(../img/icon-pdf@3x.png);
    background-size: 14px 40px;
    background-repeat: no-repeat;
    background-position: top center; }

  .no-touch a:hover .icon.icon-pdf::before,
  .no-touch a:active .icon.icon-pdf::before,
  a:active .icon.icon-pdf::before {
    background-position: bottom center; } }
.icon.icon-worldcup::before {
  content: '';
  display: block;
  width: 31px;
  height: 31px;
  background: url(../img/icon-worldcup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.no-touch a:hover .icon.icon-worldcup::before,
.no-touch a:active .icon.icon-worldcup::before,
a:active .icon.icon-worldcup::before {
  background-position: bottom center; }

@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .icon.icon-worldcup::before {
    background: url(../img/icon-worldcup@2x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .icon.icon-worldcup::before {
    background: url(../img/icon-worldcup@3x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
.icon.icon-experience::before {
  content: '';
  display: block;
  width: 61px;
  height: 24px;
  background: url(../img/icon-experience.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.no-touch a:hover .icon.icon-experience::before,
.no-touch a:active .icon.icon-experience::before,
a:active .icon.icon-experience::before {
  background-position: bottom center; }

@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .icon.icon-experience::before {
    background: url(../img/icon-experience@2x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .icon.icon-experience::before {
    background: url(../img/icon-experience@3x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
.icon.icon-returns::before {
  content: '';
  display: block;
  width: 38px;
  height: 30px;
  background: url(../img/icon-returns.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.no-touch a:hover .icon.icon-returns::before,
.no-touch a:active .icon.icon-returns::before,
a:active .icon.icon-returns::before {
  background-position: bottom center; }

@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .icon.icon-returns::before {
    background: url(../img/icon-returns@2x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .icon.icon-returns::before {
    background: url(../img/icon-returns@3x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
.icon.icon-fiveyears::before {
  content: '';
  display: block;
  width: 44px;
  height: 30px;
  background: url(../img/icon-fiveyears.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.no-touch a:hover .icon.icon-fiveyears::before,
.no-touch a:active .icon.icon-fiveyears::before,
a:active .icon.icon-fiveyears::before {
  background-position: bottom center; }

@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .icon.icon-fiveyears::before {
    background: url(../img/icon-fiveyears@2x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .icon.icon-fiveyears::before {
    background: url(../img/icon-fiveyears@3x.png);
    background-size: cover;
    background-repeat: no-repeat; } }
.icon-thumbnails::before {
  content: "\f35c";
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.close .icon-thumbnails::before {
  content: "\f12a";
  font-size: .9em; }

/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn i {
  font-size: 1.3em; }

.btn__light {
  color: #7d7d7d; }
  .no-touch .btn__light:hover {
    color: #444; }
  .no-touch .btn__light:active {
    color: #444;
    background: #f7f7f7; }
  .btn__light:active {
    color: #444;
    background: #f7f7f7; }

.no-touch .tooltiped {
  position: relative;
  will-change: transform, opacity; }
  .no-touch .tooltiped:after {
    content: "";
    position: absolute;
    top: 55px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(5px);
    -moz-transform: translateX(-50%) translateY(5px);
    transform: translateX(-50%) translateY(5px);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s; }
  .no-touch .tooltiped:hover::after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0); }
  .no-touch .tooltiped::before {
    font-size: .7em;
    position: absolute;
    content: attr(data-title);
    color: #fff;
    font-family: "hyundai_sans_textbold", "hyundai_sans_textregular", Helvetica, sans-serif;
    background: #000;
    padding: 15px;
    top: 60px;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(5px);
    -moz-transform: translateX(-50%) translateY(5px);
    transform: translateX(-50%) translateY(5px);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s; }
  .no-touch .tooltiped:hover::before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0); }

.overblock__more_btn {
  position: absolute;
  bottom: 0;
  right: -45px;
  width: 40px;
  height: 40px;
  background: #fff;
  font-size: 2em;
  color: #000;
  text-align: center;
  line-height: 1.4;
  will-change: transform;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.7);
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  transition: transform .3s;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

.overblock__more_btn.close {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 20;
  background: #fff;
  border-bottom: 1px solid #eee; }

.header__container {
  position: relative;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.hyundai__logo {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  background: url(../img/hyundai-logo-header.png) no-repeat center center;
  background-size: 100%;
  width: 125px;
  height: 19px;
  text-indent: -9999999px; }

/* @2x Images */
@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .hyundai__logo {
    background: url(../img/hyundai-logo-header@2x.png) no-repeat center center;
    background-size: 100%; } }
/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .hyundai__logo {
    background: url(../img/hyundai-logo-header@3x.png) no-repeat center center;
    background-size: 100%; } }
.header__container_center {
  float: right; }

.header__container_right {
  position: absolute;
  top: 50px;
  right: 0;
  width: 85vw;
  height: calc(100vh - 50px);
  background: #fff;
  will-change: transform;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  transition: transform .3s;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%); }

.header__container_right.open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  -webkit-box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.7); }

.iconset__item {
  display: block; }

.navigation__item_prev,
.navigation__item_next {
  display: none !important; }

.navigation__item_thumbnails {
  display: inline-block;
  margin-right: 50px;
  border-right: 1px solid #eee; }

.navigation__link {
  display: block;
  padding: 15px 20px;
  line-height: 0; }

.iconset__item {
  border-bottom: 1px solid #eee; }

.iconset__link {
  display: flex;
  align-items: center;
  padding: 23px 23px;
  line-height: 0; }

.iconset__link span {
  display: inline-block;
  margin-left: 20px;
  color: #7d7d7d;
  font-family: "hyundai_sans_textbold", "hyundai_sans_textregular", Helvetica, sans-serif;
  font-size: .8em; }

.mobilemenu {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0; }

.mobilemenu a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

.line {
  position: absolute;
  width: 15px;
  height: 2px;
  background: #7d7d7d;
  display: block;
  left: 50%;
  margin-left: -7.5px;
  will-change: transform;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  transition: transform 0.2s ease; }

.line_top {
  top: 18px; }

.line_middle {
  top: 23px; }

.line_bottom {
  top: 28px; }

.close .line_top {
  transform: translateY(5px) rotateZ(45deg); }

.close .line_middle {
  transform: scaleX(0); }

.close .line_bottom {
  transform: translateY(-5px) rotateZ(-45deg); }

.header__container_right .information__list {
  display: block;
  text-align: center;
  margin: 10px 0; }

.header__container_right .information__list .information__link {
  padding: 10px 20px; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .header {
    height: 65px;
    text-align: center; }

  .hyundai__logo {
    position: absolute;
    top: 50%;
    margin: -20px 30px auto 30px;
    width: 174px;
    height: 40px; }

  .header__container_center,
  .navigation,
  .navigation__list,
  .header__container_right,
  .iconset {
    height: 100%; }

  .header__container_center {
    margin: 0 auto;
    float: none;
    display: inline-block; }

  .header__container_right {
    top: 0;
    width: auto;
    background: transparent;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); }

  .header__container_right .information__list {
    display: none; }

  .navigation__item,
  .iconset__item {
    display: inline-block !important;
    margin: 0 -3px;
    border-bottom: 0; }

  .navigation__item_thumbnails {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee; }

  .navigation__link {
    padding: 22px 26px; }

  .iconset {
    display: table; }

  .iconset__item {
    display: table-cell;
    vertical-align: middle; }

  .iconset__item::last-of-type {
    border-left: 1px solid #eee; }

  .iconset__link span {
    display: none; }

  .mobilemenu {
    display: none; } }
/* DESKTOP SIZE */
/* ==========================================================================
   THUMBNAILS
   ========================================================================== */
.hiddenlayer {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

.hiddenlayer.visible {
  display: block; }

.thumbnails {
  position: absolute;
  top: 45px;
  bottom: 45px;
  left: 0;
  right: 0;
  z-index: 999;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  max-height: calc(100vh - 113px);
  background: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  will-change: transform;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  transition: transform .3s;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-box-shadow: 0px 0px 6px -1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 6px -1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 6px -1px rgba(50, 50, 50, 0.75); }

.thumbnails.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

.thumbnails__container {
  padding: 30px 0; }

.thumbnails__list {
  max-width: 95%;
  margin: 0 auto; }

.thumbnails__item {
  display: inline-block;
  padding: 10px;
  width: 50%;
  float: left; }

.thumbnails__item::nth-child(2n + 1) {
  padding-left: 0; }

.thumbnails__item::nth-child(2n + 2) {
  clear: right;
  padding-right: 0; }

.thumbnails__item a {
  display: block; }

.no-touch .thumbnails__item:hover a,
.no-touch .thumbnails__item:active a,
.thumbnails__item:active a {
  -webkit-box-shadow: 0px 0px 3px -1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 3px -1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 3px -1px rgba(50, 50, 50, 0.75); }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .thumbnails {
    top: 55px;
    bottom: auto; }

  .thumbnails__item {
    padding: 15px;
    float: none;
    width: auto; }

  .thumbnails__item::nth-child(4n + 1) {
    padding-left: 0; }

  .thumbnails__item::nth-child(4n + 4) {
    clear: right;
    padding-right: 0; } }
/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
  .thumbnails__item::nth-child(5n + 1) {
    padding-left: 0; }

  .thumbnails__item::nth-child(5n + 5) {
    clear: right;
    padding-right: 0; } }
/* ==========================================================================
   MAIN
   ========================================================================== */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; }

.main {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0; }

.carousel {
  width: 100%;
  height: 100%; }

.caroussel__item {
  display: block;
  width: 100%;
  height: 100%; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .main {
    top: 65px;
    bottom: 65px; } }
/* DESKTOP SIZE */
/* ==========================================================================
   SLIDES
   ========================================================================== */
.owl-wrapper-outer,
.owl-wrapper,
.owl-item {
  height: 100% !important; }

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.slide_full {
  height: calc(100vh - 100px); }

.slide__container {
  padding: 20px 20px 40px 20px; }

.title {
  margin: 0;
  padding: 0; }

.title_strong {
  font-size: .8em;
  font-family: "hyundai_sans_textbold", "hyundai_sans_textregular", Helvetica, sans-serif; }

.title_blue {
  font-size: 1em;
  color: #00b0d2; }

.title_underline {
  border-bottom: 2px solid #00b0d2; }

.paragraph {
  margin: 10px 0 0 0;
  padding: 0; }

.img__container {
  position: relative;
  padding: 30px 0; }

.infoblocks {
  margin: 0; }

.infoblocks__item {
  padding: 0;
  margin-top: 15px; }

.infoblocks__title {
  margin: 0;
  padding: 0; }

.infoblocks__paragraph {
  font-size: .8em;
  margin: 0;
  padding: 0; }

.infoblocks__image {
  margin-top: 30px; }

.numberbullet {
  position: relative;
  display: inline-block;
  background: #000;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.numberbullet::before {
  content: attr(data-title);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -2px;
  font-size: .7em;
  line-height: 2.5;
  color: #fff;
  text-align: center; }

.numberbullet::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -2px;
  margin-left: -2px;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.overblock {
  position: relative;
  max-width: 100%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden; }

.overblock__container {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 400px;
  max-height: 600px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.6); }

.overblock .title {
  font-size: 1.6em; }

.overblock .paragraph {
  display: none; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .slide_full {
    height: calc(100vh - 130px); }

  .slide__container {
    padding: 30px 30px 95px 30px; }

  .title_blue {
    font-size: 1.3em; }

  .infoblocks {
    margin: 0 -15px; }

  .infoblocks__item {
    padding: 0 15px;
    position: relative; }

  .overblock {
    position: absolute;
    width: 410px;
    max-height: 600px; }

  .overblock::after {
    content: '';
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(255, 255, 255, 0.6); } }
.table {
  display: none;
  font-size: .8em; }

.table.active {
  display: block; }

.tables th {
  font-size: 1.15em;
  font-family: "hyundai_sans_headlight", "hyundai_sans_textregular", Helvetica, sans-serif; }

.tables th,
.tables td {
  border-bottom: 1px solid #eee; }

.tables tbody {
  font-size: .9em;
  text-align: center; }

.tables tbody .section_title {
  font-size: 1.15em;
  color: #00b0d2;
  text-align: left !important; }

.tables tbody .feature_name {
  text-align: left !important; }

.table .title {
  margin: 20px 0 !important; }

.tables__navigation_list {
  display: block;
  text-align: center; }

.tables__navigation_item {
  display: inline-block; }

.tables__navigation_link {
  color: #000;
  display: block;
  padding: 20px 0;
  font-size: .9em; }

.tables__navigation_link.active {
  color: #00b0d2;
  font-family: "hyundai_sans_textbold", "hyundai_sans_textregular", Helvetica, sans-serif !important; }

.tables__navigation_link h4 {
  padding: 0 10px; }

.tables__navigation_link.active h4 {
  background: #eee; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .table {
    font-size: 1em; }

  .tables__navigation_link {
    padding: 20px 30px;
    font-size: 1em; } }
.compromiseblocks {
  float: none; }

.compromiseblocks__item {
  margin-top: 20px; }

.compromise-first h1.title {
  margin-bottom: 30px !important; }

.compromiseblocks_left,
.compromiseblocks_right {
  width: 100%; }

@media all and (min-width: 768px) {
  .compromise .slide__container {
    margin: 0 -10px; }

  .compromiseblocks {
    float: left;
    padding: 10px; }

  .compromise .title:not(.title_underline) {
    padding: 0 10px !important; }

  .compromiseblocks_left .row {
    margin: 0 -10px; }

  .compromiseblocks_left .compromiseblocks__item {
    width: 33.333333333%;
    float: left;
    display: inline-block; }

  .compromiseblocks__item {
    padding: 0 10px;
    margin-top: 0; }

  .compromise-first h1.title {
    margin-bottom: 0; }

  .compromise-first .compromiseblocks_left {
    width: 70%; }

  .compromise-first .compromiseblocks_left .infoblocks__image {
    margin-bottom: 30px; }

  .compromise-first .compromiseblocks_right {
    width: 30%; }

  .compromise-second .compromiseblocks_left {
    width: 50%; }

  .compromise-second .compromiseblocks_right {
    width: 50%; }

  .compromise-second .compromiseblocks_right .compromiseblocks__item {
    width: 50%;
    float: left; }

  .compromise-second .compromiseblocks_right .compromiseblocks__item:last-of-type {
    width: 100%;
    float: none; } }
.lastpage .slide__container {
  background: #eee;
  display: table;
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%; }

.warranty__logo {
  margin: 0 5px;
  padding: 0;
  background: url(../img/warranty-logo.png) no-repeat center center;
  background-size: 100%;
  width: 200px;
  height: 137px; }

/* @2x Images */
@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .warranty__logo {
    background: url(../img/warranty-logo@2x.png) no-repeat center center;
    background-size: 100%; } }
/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .warranty__logo {
    background: url(../img/warranty-logo@3x.png) no-repeat center center;
    background-size: 100%; } }
.lastpage .paragraph {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 0; }

@media all and (min-width: 768px) {
  .lastpage .paragraph {
    padding-left: 30px; } }
.slide-01 {
  background-image: url(../img/page-01-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.logo__ioniq {
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -169px;
  display: inline-block;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.6);
  will-change: transform;
  opacity: 0;
  -webkit-transition: all .3s .2s;
  -moz-transition: all .3s .2s;
  transition: all .3s .2s;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px); }

.active .logo__ioniq {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0); }

.logo__ioniq span {
  display: block;
  background: url(../img/ioniq-logo.png) no-repeat center center;
  background-size: 100%;
  width: 278px;
  height: 34px; }

/* @2x Images */
@media only screen and (-o-min-device-pixel-ratio: 5 / 4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .logo__ioniq span {
    background: url(../img/ioniq-logo@2x.png) no-repeat center center;
    background-size: 100%; } }
/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .logo__ioniq {
    background: url(../img/ioniq-logo@3x.png) no-repeat center center;
    background-size: 100%; } }
@media all and (min-width: 768px) {
  .slide-01 {
    background-image: url(../img/page-01-background-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

  .logo__ioniq {
    bottom: 40px;
    left: 40px;
    margin-left: auto; } }
@media all and (min-width: 1024px) {
  .slide-01 {
    background-image: url(../img/page-01-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
.slide-02 .infoblocks__item {
  width: 100%;
  float: none; }

@media all and (min-width: 768px) {
  .slide-02 .infoblocks__item {
    width: 33.333333333%;
    float: left; } }
.slide-03 {
  background-image: url(../img/page-03-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.slide-03 .overblock {
  bottom: auto;
  right: auto; }

.slide-03 .overblock__more_btn {
  bottom: 90px;
  right: 20px; }

@media all and (min-width: 768px) {
  .slide-03 {
    background-image: url(../img/page-03-background-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

  .slide-02 .infoblocks__item {
    width: 33.333333333%;
    float: left; }

  .slide-03 .overblock {
    bottom: 40px;
    right: 90px; }

  .slide-03 .overblock__more_btn {
    bottom: 40px;
    right: 40px; } }
@media all and (min-width: 1024px) {
  .slide-03 {
    background-image: url(../img/page-03-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center; } }
.slide-04 {
  background-image: url(../img/page-04-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

@media all and (min-width: 768px) {
  .slide-04 {
    background-image: url(../img/page-04-background-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
@media all and (min-width: 1024px) {
  .slide-04 {
    background-image: url(../img/page-04-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
.slide-05 .infoblocks__item {
  width: 100%;
  float: none; }

.slide-05 .max-width-image {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block; }

@media all and (min-width: 768px) {
  .slide-05 .infoblocks__item {
    width: 33.333333333%;
    float: left; } }
.slide-06 {
  background-image: url(../img/page-06-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

@media all and (min-width: 768px) {
  .slide-06 {
    background-image: url(../img/page-06-background-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
@media all and (min-width: 1024px) {
  .slide-06 {
    background-image: url(../img/page-06-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
.slide-07 .infoblocks__item {
  width: 100%;
  float: none; }

.slide-07 .divider {
  width: 100%;
  height: 50px;
  display: block; }

@media all and (min-width: 768px) {
  .slide-07 .infoblocks__item {
    width: 50%;
    float: left; }

  .slide-07 .divider {
    height: 80px; } }
.slide-08 .infoblocks__item {
  width: 100%;
  float: none; }

.slide-08 .divider {
  width: 100%;
  height: 50px;
  display: block; }

@media all and (min-width: 768px) {
  .slide-08 .infoblocks__item {
    width: 25%;
    float: left; }

  .slide-08 .divider {
    height: 80px; } }
.slide-09 .paragraph {
  max-width: 100%;
  float: none; }

.slide-09 .img__container {
  margin: 0;
  padding: 0; }

.slide-09 .max-width-image {
  max-width: 400px;
  width: 100%;
  float: right;
  position: relative;
  display: block; }

.slide-09 .infoblocks__item {
  width: 100%;
  float: none; }

@media all and (min-width: 768px) {
  .slide-09 .paragraph {
    max-width: 60%;
    float: left; }

  .slide-09 .infoblocks__item {
    width: 33.333333333%;
    float: left; } }
.slide-10 {
  background-image: url(../img/page-10-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

@media all and (min-width: 768px) {
  .slide-10 {
    background-image: url(../img/page-10-background-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
@media all and (min-width: 1024px) {
  .slide-10 {
    background-image: url(../img/page-10-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
.slide-11 .paragraph {
  max-width: 100%;
  float: none; }

.slide-11 .img__container {
  margin: 0;
  padding: 20px 0; }

.slide-11 .max-width-image {
  max-width: 400px;
  width: 100%;
  float: right;
  position: relative;
  display: block; }

.slide-11 .infoblocks__item {
  width: 100%;
  float: none; }

.slide-11 .img__container .title_blue,
.slide-11 .img__container .paragraph {
  clear: both;
  float: right;
  display: inline-block;
  margin: 0;
  font-size: .9em;
  text-align: right;
  max-width: 400px; }

.slide-11 .grey-bg {
  background: #eee;
  padding: 10px; }

@media all and (min-width: 768px) {
  .slide-11 .paragraph {
    max-width: 60%;
    float: left; }

  .slide-11 .infoblocks__item {
    width: 25%;
    float: left; } }
.slide-12 {
  background-image: url(../img/page-12-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

@media all and (min-width: 768px) {
  .slide-12 {
    background-image: url(../img/page-12-background-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
@media all and (min-width: 1024px) {
  .slide-12 {
    background-image: url(../img/page-12-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
.slide-13 .infoblocks__item {
  width: 100%;
  float: none; }

.slide-13 .infoblocks__paragraph {
  margin-top: 10px; }

@media all and (min-width: 768px) {
  .slide-13 .infoblocks__item {
    width: 25%;
    float: left; } }
.slide-14 .infoblocks__item {
  width: 100%;
  float: none; }

.slide-14 .infoblocks__item.interior {
  margin-top: auto; }

.slide-14 .infoblocks__paragraph {
  margin-top: 10px; }

@media all and (min-width: 768px) {
  .slide-14 .infoblocks__item {
    width: 33.333333333%;
    float: left; }

  .slide-14 .infoblocks__item.interior {
    margin-top: 63px; } }
.slide-16 .infoblocks__item {
  width: 100%;
  float: none; }

@media all and (min-width: 768px) {
  .slide-16 .infoblocks__item {
    width: 20%;
    float: left; } }
/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 20;
  background: #fff;
  border-top: 1px solid #eee; }

.footer__container {
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.information__item {
  display: inline-block; }

.information__link {
  display: block;
  padding: 10px;
  color: #7d7d7d;
  font-size: 1.3em; }
  .no-touch .information__link:hover, .no-touch .information__link:active, .information__link:active {
    display: block;
    padding: 10px;
    color: #444;
    font-size: 1.3em; }

.copyright {
  font-size: .7em;
  color: #7d7d7d;
  padding: 6px 10px;
  float: left; }

.company-name {
  display: none; }

.footer__container_left .information__list {
  display: none; }

.footer__container_right {
  float: right; }

.badges__list {
  padding: 0; }

.badges__item {
  display: inline-block; }

.badges__link {
  display: block;
  padding: 5px; }

/* TABLET SIZE */
@media all and (min-width: 768px) {
  .footer {
    height: 65px; }

  .footer__container {
    display: table;
    width: 100%; }

  .footer__container_left {
    float: left;
    padding: 7px 0px; }

  .footer__container_right {
    padding: 4px 0px; }

  .footer__container_left .information__list {
    display: inline-block; }

  .copyright {
    padding: 6px 10px 6px 30px; }

  .company-name {
    display: inline-block; }

  .badges__list {
    padding: 0 15px; }

  .badges__link {
    padding: 10px; } }
/* DESKTOP SIZE */

/*# sourceMappingURL=application.css.map */
