/* ==========================================================================
   GENERAL
   ========================================================================== */

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: block;
    width: 100%;
    margin: 30px 0; 
}

.cell {
    display: block;
}

.cell__valign_t {
    vertical-align: top;
}

.cell__valign_m {
    vertical-align: middle;
}

.cell__valign_b {
    vertical-align: bottom;
}

.animated {
    opacity: 0;
	@include transform(translateY(30px));
	@include transition(.3s all ease-in-out);
}

.animated.visible {
    opacity: 1;
	@include transform(translateY(0));
}

/* TABLET SIZE */
@media all and (min-width: 768px) {

.container {
    //max-width: 1680px;
    padding: 0 30px;
}
}

/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
  
.cell {
    display: table-cell;
}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../img/darkener.png);
	z-index: 20;
	opacity: 0;
	pointer-events: none;
	@include transition(.3s all ease-in-out);
}

.overlay.active {
	opacity: 1;
	pointer-events: all;
}

.main {
	@include transform(translateX(0));
	@include transition(.3s transform ease-in-out);
}

.main.displaced {
	@include transform(translateX(-240px));
}


/* POPUP */

.mfp-wrap {
    -webkit-overflow-scrolling: touch;
}

    .mfp-content {
        margin-top: 60px;
		@include transform(translateY(400%));
		@include transition(.3s all ease-in-out);
    }
	
	.mfp-ready .mfp-content {
		@include transform(translateY(0));
    }

        .mfp-close-btn-in .mfp-close {
            width: 60px;
            height: 60px;
            background: #e30613;
            display: inline-block;
            text-indent: -9999px;
            top: -60px;
            right: 0;
            opacity: 1;
            color: #e30613;
        }
            .mfp-close-btn-in .mfp-close:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../img/ico_close_popup.gif) no-repeat center center;
            }
.mfp-bg {
    opacity: 0;
	@include transition(.3s all ease-in-out);
}

.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.popup {
    background: #fff;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

.popup__tabs,
.popup__main {
    position: relative;
}

.popup__tabs {
    border-bottom: 1px solid $light-grey;
    text-align: center;
}

.popup__tab {
	float: left;
	width: 50%;
}

.popup__tab a {
	display: block;
	text-transform: uppercase;
	padding: 20px;
	color: inherit;
	background: $raw-white;
}

.popup__tab a:first-of-type {
	border-right: 1px solid $light-grey;
}

.popup__tab a.active {
	background: $white;
	font-family: $special-fontstack ;
}

.popup__main {
    max-width: 750px;
    margin: 0 auto;
    padding: 30px;
    overflow-y: auto;
}

.popup__content {
	display: none;
	text-align: center;
}      

.popup__content.active {
	display: block;
} 

// Forms 

.form > * {
	display: block;
}

.form__label {
	text-transform: uppercase;
	font-size: .8em;
	margin-bottom: 5px;
	text-align: left;
}

.form__input {
	width: 100%;
	margin-bottom: 20px;
	padding: 5px;
	outline: none;
}

	.form__input.error {
		border: 1px solid $red;
		@include box-shadow( 0px 0px 5px 0px $red);
	}

.form__message {
	margin: 0 0 20px 0;
}

.form__error {
    padding: 20px 0;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: .75em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    position: relative;
}

	.form__error .icon {
	    width: 30px;
	    height: 30px;
	    background: #E30613;
	    text-align: center;
	    display: inline-block;
	    padding: 5px 0;
	    margin-right: 10px;

	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	    -o-border-radius: 50%;
	    border-radius: 50%;
	}

// Drag and dorp area

.popup__dropzone {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dropzone_text {
	text-align: center;
}

.dropzone_text .icon {
	font-size: 3em;
}

.dz-message {
	display: none;
}

.template__container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $white;
	padding: 30px;
	text-align: center;
}

.thumbnail__photo {
	font-size: .8em;
}

.thumbnail__photo img {
	@include border-radius(100%);
	display: block;
	margin: 0 auto;
}

.template__buttons {
	display: table;
	width: 100%;
	position: absolute; 
	bottom: 0;
	left: 0;
    border-top: 1px solid $light-grey;
}

.template__buttons a {
    padding: 20px;
    display: table-cell;
    width: 50%;
    color: inherit;
}

.template__buttons a:last-of-type {
    border-left: 1px solid $light-grey;
}



