/* ==========================================================================
   HEADER
   ========================================================================== */

.header {
	background-color: $white;
	position: relative;
	width: 100%;
	@include transition(.3s transform ease-in-out);
}

.header.displaced {
	@include transform(translateX(-240px));
}

.header.sticky {
	position: fixed;
}

.header__logo {
	position: absolute;
	background-image: url(../img/logo-verisure.png);
	background-repeat: no-repeat;
	width: 120px;
	height: 39px;
	background-size: 100%;
	top: 50%;
	margin-top: -23px;
	left: 15px;
}

#home .header__logo {
	width: 120px;
	height: 39px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -23px;
}

/* @2x Images */   
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
.header__logo {
	width: 120px;
	height: 39px;
	background-image: url(../img/logo-verisure@2x.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
}

/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
       only screen and (-webkit-min-device-pixel-ratio: 2.25),
       only screen and (min-device-pixel-ratio: 2.25),
       only screen and (min-resolution: 2.25dppx) {
.header__logo {
	width: 120px;
	height: 39px;
	background-image: url(../img/logo-verisure@3x.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
}

.header__logo a {
	display: block;
    width: 100%;
    height: 100%;
}

.header__menu {
	float: right;
}

.menu__item{
	&.menu__item_home {
		display: none;
	}

	&.menu__item_logged {
		display: inline-block;
   		;margin-right: -3px;

		&.user {
			position: relative;
		}
	}

	#home &.menu__item_home {
		display: inline-block;
	}

	#home &.menu__item_logged {
		display: none;
	}
}

.menu__link {
	text-transform: uppercase;
	color: inherit;
	display: block;
	padding: 13px 10px;
	border-left: 1px solid $light-grey;
	border-right: 1px solid $light-grey;
	font-size: .9em;
}

#home .menu__link {
	padding: 23px 10px;
}

.menu__link:last-of-type {
	border-right: 0;
}

.usercircle {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: cover;
	@include border-radius(100%);
}

.notifications {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
}

	.notifications i {
		position: absolute;
		font-size: 2em;
	    line-height: 0;
	    top: 50%;
	    margin-top: -15px;
	    left: 50%;
	    margin-left: -11px;
	}
	
	.notifications__bullet {
		position: absolute;
		top: 4px;
		right: 2px;
		display: block;
		width: 15px;
		height: 15px;
		background: $red;
		@include border-radius(100%);
	}
	
	.notifications__number {
		position: relative;
		width: 100%;
		height: 100%;
		color: $white;
		font-family: $bold-fontstack;
		font-size: .6em;
		text-align: center;
	}
		
		.notifications__number span {
			display: inline-block;
			vertical-align: middle;
		}


/* TABLET SIZE */
@media all and (min-width: 768px) {

#home .header__logo {
	width: 176px;
	height: 56px;
	margin-top: -33px;
}

.menu__link {
	padding: 23px;
	font-size: 1em;
}

#home .menu__link {
	padding: 53px;
}

.header__logo {
	width: 176px;
	height: 56px;
	left: 30px;
}


/* @2x Images */   
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
.header__logo {
	width: 176px;
	height: 56px;
	background-image: url(../img/logo-verisure@2x.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
}

/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
       only screen and (-webkit-min-device-pixel-ratio: 2.25),
       only screen and (min-device-pixel-ratio: 2.25),
       only screen and (min-resolution: 2.25dppx) {
.header__logo {
	width: 176px;
	height: 56px;
	background-image: url(../img/logo-verisure@3x.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
}
}

/* DESKTOP SIZE */
@media all and (min-width: 1025px) {

.header__logo {
	margin-top: -30px;
}

}
