/* ==========================================================================
   HEADER
   ========================================================================== */

.header {
	background-color: $white;
	position: relative;
	width: 100%;
	z-index: 10;
}

.header.sticky {
	position: fixed;
}

.header__logo {
	position: absolute;
	background-image: url(../img/logo-securitas.png);
	width: 90px;
	height: 56px;
	background-size: 100%;
	top: 50%;
	margin-top: -30px;
	left: 15px;
}

#home .header__logo {
	width: 90px;
	height: 56px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -28px;
}

/* @2x Images */   
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
.header__logo {
	width: 90px;
	height: 56px;
	background-image: url(../img/logo-securitas@2x.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
}

/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
       only screen and (-webkit-min-device-pixel-ratio: 2.25),
       only screen and (min-device-pixel-ratio: 2.25),
       only screen and (min-resolution: 2.25dppx) {
.header__logo {
	width: 90px;
	height: 56px;
	background-image: url(../img/logo-securitas@3x.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
}

.header__logo a {
	display: block;
    width: 100%;
    height: 100%;
}

.header__menu {
	float: right;
}

.menu__item{
	&.menu__item_home {
		display: none;
	}

	&.menu__item_logged {
		display: inline-block;

		&.user {
			position: relative;
		}
	}

	#home &.menu__item_home {
		display: inline-block;
	}

	#home &.menu__item_logged {
		display: none;
	}
}

.menu__link {
	text-transform: uppercase;
	color: inherit;
	display: block;
	padding: 13px 10px;
	border-left: 1px solid $light-grey;
	border-right: 1px solid $light-grey;
}

#home .menu__link {
	padding: 23px 10px;
}

.menu__link:last-of-type {
	border-right: 0;
}

.usercircle {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: cover;
	@include border-radius(100%);
}

.notifications {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
}

	.notifications i {
		position: absolute;
		font-size: 2em;
	    line-height: 0;
	    top: 50%;
	    margin-top: -15px;
	    left: 50%;
	    margin-left: -11px;
	}
	
	.notifications__bullet {
		position: absolute;
		top: 4px;
		right: 2px;
		display: block;
		width: 15px;
		height: 15px;
		background: $red;
		@include border-radius(100%);
	}
	
	.notifications__number {
		position: relative;
		width: 100%;
		height: 100%;
		color: $white;
		font-family: $bold-fontstack;
		font-size: .6em;
		text-align: center;
	}
		
		.notifications__number span {
			display: inline-block;
			vertical-align: middle;
		}

.submenu {
	position: fixed;
	top: 0;
	right: 0;
    height: 100vh;
    min-width: 240px;
	background-color: $white;
	z-index: 30;
	border-left: 1px solid $light-grey;
	@include transform(translateX(240px));
}

.submenu__triangle {
	position: absolute;
	right: 0;

	&::before {
		content: "";
		top: -10px;
	    right: 35px;
		position: absolute;
		z-index: 20;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $white;
	}

	&::after {
		content: "";
	    top: -11px;
	    right: 34px;
		position: absolute;
		z-index: 10;
		width: 0;
		height: 0;
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		border-bottom: 11px solid $light-grey;
	}
}

.submenu__list {
	position: relative;
}

.submenu__item:nth-child(even) {
	background: #f2f2f2;
}

.submenu__item:nth-child(odd) {
	background: $white;
}

.submenu__link {
	color: inherit;
	display: block;
	padding: 20px;
}

	.submenu__link strong {
		clear: both;
		display: block;
	}

/* TABLET SIZE */
@media all and (min-width: 768px) {

#home .header__logo {
	width: 123px;
	height: 76px;
	margin-top: -38px;
}

.menu__link {
	padding: 23px;
}

#home .menu__link {
	padding: 53px;
}

.header__logo {
	left: 30px;
}


/* @2x Images */   
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
.header__logo {
	width: 123px;
	height: 76px;
	background-image: url(../img/logo-securitas@2x.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
}

/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
       only screen and (-webkit-min-device-pixel-ratio: 2.25),
       only screen and (min-device-pixel-ratio: 2.25),
       only screen and (min-resolution: 2.25dppx) {
.header__logo {
	width: 123px;
	height: 76px;
	background-image: url(../img/logo-securitas@3x.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
}
}

/* DESKTOP SIZE */
@media all and (min-width: 1025px) {

.header__logo {
	margin-top: -30px;
}

.submenu {
	border: 1px solid $light-grey;
	position: absolute;
    top: 93px;
    right: -4px;
    height: auto;
    min-width: 210px;
	background-color: transparent;
	@include box-shadow(0px 2px 5px -2px rgba(0,0,0,0.75));

	opacity: 0;
	pointer-events: none;
	@include transform(translateY(10px));
	@include transform(translateX(0));

	@include transition(.3s all ease-in-out);
}

.submenu.active {
	opacity: 1;
	pointer-events: all;
	@include transform(translateY(0));
}
}
