/* ==========================================================================
   HEADER
   ========================================================================== */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 20;
	background: $white;
    border-bottom: 1px solid $light-grey;
}

.header__container {
	position: relative;
    height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hyundai__logo {
	display: inline-block;
	margin: 0 10px;
	padding: 0;
	background: url(../img/hyundai-logo-header.png) no-repeat center center;
	background-size: 100%;
    width: 125px;
    height: 19px;
    text-indent: -9999999px;
}

/* @2x Images */   
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
.hyundai__logo {
    background: url(../img/hyundai-logo-header@2x.png) no-repeat center center;
	background-size: 100%;
}
}

/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
       only screen and (-webkit-min-device-pixel-ratio: 2.25),
       only screen and (min-device-pixel-ratio: 2.25),
       only screen and (min-resolution: 2.25dppx) {
.hyundai__logo {
    background: url(../img/hyundai-logo-header@3x.png) no-repeat center center;
	background-size: 100%;
}
}

.header__container_center {
	float: right;
}

.header__container_right {
	position: absolute;
    top: 50px;
    right: 0;
    width: 85vw;
    height: calc(100vh - 50px);
    background: $white;
  	will-change: transform;
	
	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
    transition: transform .3s; 

    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
}

.header__container_right.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);

	-webkit-box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.70);
	-moz-box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.70);
	box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.70);
}

.iconset__item {
	display: block;
}

.navigation__item_prev,
.navigation__item_next {
	display: none !important;
}

.navigation__item_thumbnails {
	display: inline-block;
    margin-right: 50px;
    border-right: 1px solid $light-grey;
}

.navigation__link {
	display: block;
	padding: 15px 20px;
    line-height: 0;
}

.iconset__item {
	border-bottom: 1px solid $light-grey;
}

.iconset__link {
	display: flex;
	align-items: center;
	padding: 23px 23px;
    line-height: 0;
}

.iconset__link span {
	display: inline-block;
	margin-left: 20px;
	color: $medium-grey;
	font-family: $bold-fontstack;
	font-size: .8em;
}

.mobilemenu {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}

.mobilemenu a {
    display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.line {
	position: absolute;
    width: 15px;
    height: 2px;
    background: #7d7d7d;
    display: block;
    left: 50%;
    margin-left: -7.5px;
  	will-change: transform;

    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}

.line_top {
	top: 18px;
}

.line_middle {
	top: 23px;
}

.line_bottom {
	top: 28px;
}

.close .line_top {
	transform: translateY(5px) rotateZ(45deg);
}

.close .line_middle {
	transform: scaleX(0);
}

.close .line_bottom {
	transform: translateY(-5px) rotateZ(-45deg);
}

.header__container_right .information__list {
	display: block;
    text-align: center;
    margin: 10px 0;
}

.header__container_right .information__list .information__link {
	padding: 10px 20px;
}

/* TABLET SIZE */
@media all and (min-width: 768px) {

.header {
	height: 65px;
	text-align: center;
}

.hyundai__logo {
	position: absolute;
	top: 50%;
	margin: -20px 30px auto 30px;
    width: 174px;
    height: 40px;
}

.header__container_center,
.navigation,
.navigation__list,
.header__container_right,
.iconset {
	height: 100%;
}

.header__container_center {
	margin: 0 auto;
	float: none;
	display: inline-block;
}

.header__container_right {
    top: 0;
    width: auto;
    background: transparent;
	
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
    transform: translateX(0);
}

.header__container_right .information__list {
	display: none;
}

.navigation__item,
.iconset__item {
	display: inline-block !important;
	margin: 0 -3px;
	border-bottom: 0;
}

.navigation__item_thumbnails {
	border-left: 1px solid $light-grey;
	border-right: 1px solid $light-grey;
}

.navigation__link {
	padding: 22px 26px;
}

.iconset {
	display: table;
}

.iconset__item {
	display: table-cell;
	vertical-align: middle;
}

.iconset__item::last-of-type {
	border-left: 1px solid $light-grey;
}

.iconset__link span {
	display: none;
}

.mobilemenu {
	display: none;
}
}

/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
   
}
