/* ==========================================================================
   HEADER
   ========================================================================== */

.indexpage {
	position: relative;
	height: calc(100vh - 60px);
	width: calc(100vw + 280px);
	overflow: hidden;

  @include transition(width .3s ease-in-out);
}

.indexpage.shrink {
  width: calc(100vw);
}

/* @2x Images */   
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {

}

/* @3x Images */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
       only screen and (-webkit-min-device-pixel-ratio: 2.25),
       only screen and (min-device-pixel-ratio: 2.25),
       only screen and (min-resolution: 2.25dppx) {

}


/* TABLET SIZE */
@media all and (min-width: 768px) {
  .indexpage {
    width: calc(100vw + 370px);
  }
}

/* DESKTOP SIZE */
@media all and (min-width: 1025px) {

}
