/* ==========================================================================
   WELCOME
   ========================================================================== */

.welcome__container {
	padding: 60px 15px;
}

.welcome__title {
	text-align: center;
	margin: 0;
	padding: 0;
}

.welcome__container .cell {
	width: 100%;
}

.welcome .video__container {
    position: relative;
    margin-bottom: 0;
    padding-top: 56.25%;
}

	.welcome .video__container iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

.welcome .text__container {
	padding: 30px;
}

	.welcome .text__container p {
		margin: 0;
	}

.welcome .row__button {
	display: block;
	text-align: center;
	margin-top: 0;
}

/* TABLET SIZE */
@media all and (min-width: 768px) {
	
}

/* DESKTOP SIZE */
@media all and (min-width: 1024px) {

.welcome__container {
	padding: 30px;
}

.welcome__container .cell {
	width: 50%;
}

.welcome .text__container {
	padding: 60px;
}

.welcome .row__button {
	margin-top: 60px;
}
}