/* ==========================================================================
   COURSE
   ========================================================================== */

.course {
	background-color: $light-grey;
}

.course__container {
	padding: 30px 15px;
}

.breadcrumbs {
	margin: 0;
	font-size: .9em;
	color: $medium-grey;
}

.breadcrumbs__link {
	color: inherit;
	font-family: $bold-fontstack;
}

.breadcrumbs__icon {
	font-size: .8em;
	padding: 0 10px;
}

.course .video__container {
    position: relative;
    margin: 30px 0;
    padding-top: 56.25%;
}

	.course .video__container iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	.displaced .course .video__container iframe {
	   pointer-events: none;
	}	

.tabs__link {
	padding: 10px;
	font-size: .8em;
	color: inherit;
	background-color: $light-grey;
	display: inline-block;
	margin-left: -5px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;

	&:hover {
		background: #dddddd;
	}
}

.tabs__link:first-of-type {
	margin-left: 0;
}

.tabs__link.test {
	font-family: $stack-avenir-demi;
	background: #dddddd;
	color: #bbbbbb;
}

.tabs__link.test.disabled {
	pointer-events: none;
}

.tabs__link.test.active {
	font-family: $stack-avenir-demi;
	background: $red;
	color: $white;
}

.tabs__link.active {
	font-family: $stack-avenir-demi;
	background: $white;
	border-top: 1px solid $white;
	border-left: 1px solid $white;
	border-right: 1px solid $white;
}

.tabs__content {
	background-color: $white;
}

.content__block {
	position: relative;
	display: none;
	padding: 30px;
}

	.content__block p {
		margin: 0;
	}

.content__block.active {
	display: block;
}

.downloads__link {
	color: $medium-grey;
	display: block;
	padding: 10px 0;

	&:hover {
		color: $dark-grey;
	}

	&:first-of-type {
		padding: 0 0 10px 0;
	} 

	&:last-of-type {
		padding: 10px 0 0 0;
	} 
}

.downloads__icon {
	display: table-cell;
	vertical-align: middle;
    font-size: 2.5em;
	color: #dddddd;
    padding-right: 10px;
}

.downloads__info {
	display: table-cell;
	vertical-align: middle;
}
	
	.downloads__info strong {
		display: block;
	}

.test__indicator {
	font-size: .9em;
}

.test__question {
	font-family: $bold-fontstack;
	margin-top: 30px;
}

.question__messages_correct {
	color: $green;
	font-family: $stack-avenir-demi;
    position: relative;
    padding-left: 30px;
}
	.question__messages_correct .icon {
		font-size: 1.5em;
	    line-height: 0;
	    position: absolute;
	    top: -3px;
	    left: 0;
	}

.question__messages_wrong {
	color: $red;
	font-family: $stack-avenir-demi;
    position: relative;
    padding-left: 30px;
}
	.question__messages_wrong .icon {
		font-size: 1.5em;
	    line-height: 0;
	    position: absolute;
	    top: -3px;
	    left: 0;
	}

.test__next {
	position: relative;
	margin-top: 30px;
}

.questions__list {
	margin-top: 30px;
}

.questions__link {
	display: flex;
    align-items: center;
	color: $medium-grey;
	@include transition(all ease-in-out .5s);
	
	& input[type="radio"] {
	    display:none;
	}
	
	& input[type="radio"] + label {
	    padding: 15px;
	    display: block;
	    width: 100%;
	    cursor: pointer;
	    position: relative;
	}

	& input[type="radio"] + label span {
	    display: inline-block;
	    vertical-align: middle;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		text-align: center;
		width: 30px;
		height: 30px;
	    -moz-border-radius:  50%;
	    border-radius:  50%;
		line-height: 30px;
		font-family: $stack-avenir-demi;
		font-size: 1.5em;
		color: $medium-grey;
		@include transition(all .5s ease-in-out);
	}

	& input[type="radio"] + label span::before {
		content: attr(data-title);
		position: absolute;
		width: 100%;
		height: 100%;
		top: -2px; 
		left: -2px;
		border: 2px solid #dddddd;
		@include border-radius(100%);
	}

	& input[type="radio"]:checked + label {
		color: $dark-grey;
		background: $light-grey;
	}
	
	& input[type="radio"]:checked + label span::before {
		border: 2px solid $dark-grey;
	}
	
	& input[type="radio"].wrong:checked + label span {
		color: $red;
	}
	& input[type="radio"].wrong:checked + label span::before {
		border: 2px solid $red;
	}
	
	& input[type="radio"].correct:checked + label span {
		color: $green;
	}
	& input[type="radio"].correct:checked + label span::before {
		border: 2px solid $green;
	}

	&:hover {
		color: $dark-grey;
		background: $light-grey;
		@include transition(all ease-in-out .5s);
	} 
}

.question__text {
	padding-left: 50px;
    display: inline-block;
}

/* TABLET SIZE */
@media all and (min-width: 768px) {

.tabs__link {
	padding: 20px;
	font-size: 1em;
}

.content__block {
	padding: 60px;
}

.test__next {
	position: absolute;
	right: 60px;
	top: 60px;
	margin-top: 0;
}

.questions__link {
	& input[type="radio"] + label {
	    padding: 15px;
	}

	& input[type="radio"] + label span {
		position: relative;
		top: auto;
		margin-top: auto;
	}
}

.question__text {
	padding-left: 15px;
}
}

/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
   
.course__container {
	padding: 30px;
}

}