/* ==========================================================================
   THUMBNAILS
   ========================================================================== */

.hiddenlayer {
    z-index: 30;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.hiddenlayer.visible {
	display: block;
}

.thumbnails {
	position: absolute;
	top: 45px;
	bottom: 45px;
	left: 0;
	right: 0;
	z-index: 999;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
    max-height: calc(100vh - 113px);
	background: $white;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  	will-change: transform;

	opacity: 0;
	visibility: hidden;
	
	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
    transition: transform .3s; 

	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);

	-webkit-box-shadow: 0px 0px 6px -1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 6px -1px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 6px -1px rgba(50, 50, 50, 0.75);
}

.thumbnails.visible {
	opacity: 1;
	visibility: visible;

	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.thumbnails__container {
	padding: 30px 0;
}

.thumbnails__list {
	max-width: 95%;
	margin: 0 auto;
}

.thumbnails__item {
    display: inline-block;
    padding: 10px;
    width: 50%;
    float: left;
}

.thumbnails__item::nth-child(2n + 1) {
	padding-left: 0;
}

.thumbnails__item::nth-child(2n + 2) {
	clear: right;
	padding-right: 0;
}

.thumbnails__item a {
    display: block;
}

.no-touch .thumbnails__item:hover a,
.no-touch .thumbnails__item:active a,
.thumbnails__item:active a {

	-webkit-box-shadow: 0px 0px 3px -1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 3px -1px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 3px -1px rgba(50, 50, 50, 0.75);
}



/* TABLET SIZE */
@media all and (min-width: 768px) {

.thumbnails {
	top: 55px;
	bottom: auto;
}

.thumbnails__item {
	padding: 15px;
	float: none;
	width: auto;
}

.thumbnails__item::nth-child(4n + 1) {
	padding-left: 0;
}

.thumbnails__item::nth-child(4n + 4) {
	clear: right;
	padding-right: 0;
}
}

/* DESKTOP SIZE */
@media all and (min-width: 1024px) {
   
.thumbnails__item::nth-child(5n + 1) {
	padding-left: 0;
}

.thumbnails__item::nth-child(5n + 5) {
	clear: right;
	padding-right: 0;
}
}