/* ==========================================================================
   BUTTONS
   ========================================================================== */

.button {
	position: relative;
	text-align: center;
	padding: 11px 16px;
	font-family: $primal-fontstack; 
	display: inline-block;
	text-transform: uppercase;
	border-radius: 2px;
	border: none;
	outline: none;
	font-size: 13px;
	color: $raw-white;

	background: $primary-color;
	
	@include transition(.3s all ease-in-out);
}

.button:hover {
	background: $primary-color-light;
}

.button:active {
	background: $primary-color-dark;
}

.button:disabled {
	background: $light-grey;
}

a.link {
	color: $primary-color;
}