/* ==========================================================================
   BUTTONS
   ========================================================================== */

.btn i {
	font-size: 1.3em;
}

.btn__light {
	color: $medium-grey;

  .no-touch &:hover {
		color: $dark-grey;
	}

  .no-touch &:active {
		color: $dark-grey;
    background: $raw-white;
	}

  &:active {
    color: $dark-grey;
    background: $raw-white;
  }
}

.no-touch .tooltiped {
  position: relative;
  will-change: transform, opacity;
  
  &:after {
    content: "";
    position: absolute;
    top: 55px;
    left: 50%;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $black;

    visibility: hidden;
    opacity: 0;

    -webkit-transform: translateX(-50%) translateY(5px);
    -moz-transform: translateX(-50%) translateY(5px);
    transform: translateX(-50%) translateY(5px);

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  }
  
  &:hover::after {
    visibility: visible;
    opacity: 1;

    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }

  &::before {
    font-size: .7em;
    position: absolute;
    content: attr(data-title);
    color: $white;
    font-family: $bold-fontstack;
    background: $black;
    padding: 15px;
    top: 60px;
    left: 50%;

    visibility: hidden;
    opacity: 0;
    
    -webkit-transform: translateX(-50%) translateY(5px);
    -moz-transform: translateX(-50%) translateY(5px);
    transform: translateX(-50%) translateY(5px);

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  }

  &:hover::before {
    visibility: visible;
    opacity: 1;
    
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}

.overblock__more_btn {
  position: absolute;
  bottom: 0;
  right: -45px;
  width: 40px;
  height: 40px;
  background: $white;
  font-size: 2em;
  color: $black;
  text-align: center;
  line-height: 1.4;
  will-change: transform;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

  -webkit-box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.70);
  -moz-box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.70);
  box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.70);

  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  transition: transform .3s;
    
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}

.overblock__more_btn.close  {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}