/* ==========================================================================
   ICONS
   ========================================================================== */

.icon {
	position: relative;
	display: inline-block;
}

// Icon Gear

.icon.icon-gear::before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon-gear.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.no-touch a:hover .icon.icon-gear::before,
.no-touch a:active .icon.icon-gear::before,
a:active .icon.icon-gear::before {
	background-position: 0px -21px;
}
@media only screen and (-o-min-device-pixel-ratio: 5/4),
   only screen and (-webkit-min-device-pixel-ratio: 1.25),
   only screen and (min-device-pixel-ratio: 1.25),
   only screen and (min-resolution: 1.25dppx) {
.icon.icon-gear:before {
	background: url(../img/icon-gear@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.no-touch a:hover .icon.icon-gear::before,
.no-touch a:active .icon.icon-gear::before,
a:active .icon.icon-gear::before {
	background-position: 0px -22px;
}
}
@media only screen and (-o-min-device-pixel-ratio: 9/4),
   only screen and (-webkit-min-device-pixel-ratio: 2.25),
   only screen and (min-device-pixel-ratio: 2.25),
   only screen and (min-resolution: 2.25dppx) {
.icon.icon-gear::before {
	background: url(../img/icon-gear@3x.png);
	background-size: cover;
	background-repeat: no-repeat;	
	background-position: 0px 0px;
}
.no-touch a:hover .icon.icon-gear::before,
.no-touch a:active .icon.icon-gear::before,
a:active .icon.icon-gear::before {
	background-position: 0px -22px;
}
}

// Icon Wheel

.icon.icon-wheel::before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon-wheel.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.no-touch a:hover .icon.icon-wheel::before,
.no-touch a:active .icon.icon-wheel::before,
a:active .icon.icon-wheel::before {
	background-position: bottom center;
}
@media only screen and (-o-min-device-pixel-ratio: 5/4),
   only screen and (-webkit-min-device-pixel-ratio: 1.25),
   only screen and (min-device-pixel-ratio: 1.25),
   only screen and (min-resolution: 1.25dppx) {
.icon.icon-wheel::before {
	background: url(../img/icon-wheel@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}
@media only screen and (-o-min-device-pixel-ratio: 9/4),
   only screen and (-webkit-min-device-pixel-ratio: 2.25),
   only screen and (min-device-pixel-ratio: 2.25),
   only screen and (min-resolution: 2.25dppx) {
.icon.icon-wheel::before {
	background: url(../img/icon-wheel@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}

// Icon PDF

.icon.icon-pdf::before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/icon-pdf.png);
	background-size: 14px 40px;
	background-repeat: no-repeat;
	background-position: top center;
}
.no-touch a:hover .icon.icon-pdf::before,
.no-touch a:active .icon.icon-pdf::before,
a:active .icon.icon-pdf::before {
	background-position: bottom center;
}
@media only screen and (-o-min-device-pixel-ratio: 5/4),
   only screen and (-webkit-min-device-pixel-ratio: 1.25),
   only screen and (min-device-pixel-ratio: 1.25),
   only screen and (min-resolution: 1.25dppx) {
.icon.icon-pdf::before {
	background: url(../img/icon-pdf@2x.png);
	background-size: 14px 40px;
	background-repeat: no-repeat;
	background-position: top center;
}
.no-touch a:hover .icon.icon-pdf::before,
.no-touch a:active .icon.icon-pdf::before,
a:active .icon.icon-pdf::before {
	background-position: bottom center;
}
}
@media only screen and (-o-min-device-pixel-ratio: 9/4),
   only screen and (-webkit-min-device-pixel-ratio: 2.25),
   only screen and (min-device-pixel-ratio: 2.25),
   only screen and (min-resolution: 2.25dppx) {
.icon.icon-pdf::before {
	background: url(../img/icon-pdf@3x.png);
	background-size: 14px 40px;
	background-repeat: no-repeat;
	background-position: top center;
}
.no-touch a:hover .icon.icon-pdf::before,
.no-touch a:active .icon.icon-pdf::before,
a:active .icon.icon-pdf::before {
	background-position: bottom center;
}
}

// Icon Worldcup

.icon.icon-worldcup::before {
	content: '';
	display: block;
	width: 31px;
	height: 31px;
	background: url(../img/icon-worldcup.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.no-touch a:hover .icon.icon-worldcup::before,
.no-touch a:active .icon.icon-worldcup::before,
a:active .icon.icon-worldcup::before {
	background-position: bottom center;
}
@media only screen and (-o-min-device-pixel-ratio: 5/4),
   only screen and (-webkit-min-device-pixel-ratio: 1.25),
   only screen and (min-device-pixel-ratio: 1.25),
   only screen and (min-resolution: 1.25dppx) {
.icon.icon-worldcup::before {
	background: url(../img/icon-worldcup@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}
@media only screen and (-o-min-device-pixel-ratio: 9/4),
   only screen and (-webkit-min-device-pixel-ratio: 2.25),
   only screen and (min-device-pixel-ratio: 2.25),
   only screen and (min-resolution: 2.25dppx) {
.icon.icon-worldcup::before {
	background: url(../img/icon-worldcup@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}

// Icon Experience

.icon.icon-experience::before {
	content: '';
	display: block;
	width: 61px;
	height: 24px;
	background: url(../img/icon-experience.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.no-touch a:hover .icon.icon-experience::before,
.no-touch a:active .icon.icon-experience::before,
a:active .icon.icon-experience::before {
	background-position: bottom center;
}
@media only screen and (-o-min-device-pixel-ratio: 5/4),
   only screen and (-webkit-min-device-pixel-ratio: 1.25),
   only screen and (min-device-pixel-ratio: 1.25),
   only screen and (min-resolution: 1.25dppx) {
.icon.icon-experience::before {
	background: url(../img/icon-experience@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}
@media only screen and (-o-min-device-pixel-ratio: 9/4),
   only screen and (-webkit-min-device-pixel-ratio: 2.25),
   only screen and (min-device-pixel-ratio: 2.25),
   only screen and (min-resolution: 2.25dppx) {
.icon.icon-experience::before {
	background: url(../img/icon-experience@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}

// Icon Returns

.icon.icon-returns::before {
	content: '';
	display: block;
	width: 38px;
	height: 30px;
	background: url(../img/icon-returns.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.no-touch a:hover .icon.icon-returns::before,
.no-touch a:active .icon.icon-returns::before,
a:active .icon.icon-returns::before {
	background-position: bottom center;
}
@media only screen and (-o-min-device-pixel-ratio: 5/4),
   only screen and (-webkit-min-device-pixel-ratio: 1.25),
   only screen and (min-device-pixel-ratio: 1.25),
   only screen and (min-resolution: 1.25dppx) {
.icon.icon-returns::before {
	background: url(../img/icon-returns@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}
@media only screen and (-o-min-device-pixel-ratio: 9/4),
   only screen and (-webkit-min-device-pixel-ratio: 2.25),
   only screen and (min-device-pixel-ratio: 2.25),
   only screen and (min-resolution: 2.25dppx) {
.icon.icon-returns::before {
	background: url(../img/icon-returns@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}

// Icon Fiveyears

.icon.icon-fiveyears::before {
	content: '';
	display: block;
	width: 44px;
	height: 30px;
	background: url(../img/icon-fiveyears.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.no-touch a:hover .icon.icon-fiveyears::before,
.no-touch a:active .icon.icon-fiveyears::before,
a:active .icon.icon-fiveyears::before {
	background-position: bottom center;
}
@media only screen and (-o-min-device-pixel-ratio: 5/4),
   only screen and (-webkit-min-device-pixel-ratio: 1.25),
   only screen and (min-device-pixel-ratio: 1.25),
   only screen and (min-resolution: 1.25dppx) {
.icon.icon-fiveyears::before {
	background: url(../img/icon-fiveyears@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}
@media only screen and (-o-min-device-pixel-ratio: 9/4),
   only screen and (-webkit-min-device-pixel-ratio: 2.25),
   only screen and (min-device-pixel-ratio: 2.25),
   only screen and (min-resolution: 2.25dppx) {
.icon.icon-fiveyears::before {
	background: url(../img/icon-fiveyears@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
}
}

// Icon android apps

.icon-thumbnails::before {
	content: "\f35c";
	display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.close .icon-thumbnails::before {
	content: "\f12a";
	font-size: .9em;
}