/* ==========================================================================
   TEXTS
   ========================================================================== */
h1 {
    font: 16px/1 $titles-fontstack;
    font-size: 2.5em;
    font-weight: 300;
    margin: 50px 0 25px;
}

h2 {
    font: 16px/1 $titles-fontstack;
    font-size: 2em;
    font-weight: 300;
    margin: 50px 0 25px;
}

h3 {
    font: 16px/1 $titles-fontstack;
    font-size: 1.5em;
    font-weight: 300;
    margin: 50px 0 25px;
}

h4 {
    font: 16px/1 $titles-fontstack;
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 15px;
}

p {
    line-height: 1.5;
}

strong {
    font-family: $stack-avenir-demi;
}


/* TABLET SIZE */
@media all and (min-width: 768px) {

h1 {
    font: 16px/1.5 $titles-fontstack;
    font-size: 3em;
    font-weight: 300;
    margin: 50px 0 25px;
}

h2 {
    font: 16px/1.5 $titles-fontstack;
    font-size: 2.5em;
    font-weight: 300;
    margin: 50px 0 25px;
}

h3 {
    font: 16px/1.5 $titles-fontstack;
    font-size: 2em;
    font-weight: 300;
    margin: 50px 0 25px;
}

h4 {
    font: 16px/1.5 $titles-fontstack;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 15px;
}
}