/* ==========================================================================
   Variables
   ========================================================================== */

// Descrptive color variables

$white              : #fff;
$white-transparent	: rgba(255, 255, 255, .6);
$raw-white			: #f7f7f7;
$black              : #000;
$black-transparent	: rgba(0, 0, 0, .6);
$light-grey			: #eee;
$medium-grey		: #7d7d7d;
$dark-grey			: #444;
$red				: #ed1c24;
$green				: #00ff96;

// Functional color variables

$primary-color		: $red;
$selection-color    : $light-grey;
$color-ok			: $green;

// Font Stacks

$stack-sans-serif 		: Helvetica, sans-serif;
$stack-avenir-regular 	: 'Avenir Next LT Regular', $stack-sans-serif;
$stack-avenir-demi 		: 'Avenir Next LT Demi', $stack-sans-serif;
$stack-avenir-bold 		: 'Avenir Next LT Bold', $stack-sans-serif;
$stack-ionicons			: "Ionicons";

$primal-fontstack 		: $stack-avenir-regular;
$titles-fontstack 		: $stack-avenir-regular;
$bold-fontstack 		: $stack-avenir-bold;
$icons-fontstack		: $stack-ionicons;